*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-image: url(../imagenes/animales.jpg); */
    background-color: beige;
    background-size: cover;
    background-attachment: fixed;
}

.container {    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "asociacion"
        "dedicamos"
        "noticias"
        "ubicacion"
        "jurisprudencia"
        "ecoparque"
        "problemas"
        "encuentro"
        "contacto";
}

.asociacion {  
    background-color: rgb(9, 9, 253);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-flow: row; */
    grid-template-areas:
        "logo titulo menu";
    grid-template-columns: 20% 65% 15%;
    grid-area: asociacion;
    background: repeating-linear-gradient(-135deg, rgb(211, 12, 12), rgb(9, 9, 253) 20%, rgb(20, 1, 1) 50%);
}

.logo {
    grid-area: logo;
    background-image: url(../imagenes/logoelefante.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.titulo { 

    grid-area: titulo;
}
.derecho{
    height: 100%;
    font-size: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(248, 240, 240);
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgb(209, 57, 57);
            animation-duration: 2s;
            animation-name: hola;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }

        @keyframes hola {
            0%{
                opacity: 0.5;
            }

            100%{
                opacity: 1;
            }
        }


.menu {
    grid-area: menu; 
}
/* -----menú desplegable----- */
header ul{
    list-style: none;
    display: flex;
    width: 20%;
    height: 100%;
    text-align: left;
    font-size: 0;
    color: rgba(243, 237, 237, 0.815);
}
header ul li{
    display: inline-block;
    font-size: 30px;
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    
}

header li a{
    text-decoration: none;
    text-align: center;
}

header ul li:hover ul{
    display: block;
    padding: 0px;
    margin: 0px;

}

header ul li a:hover{
    color:#000;
    padding: 0px;
    margin: 0px;
}

header ul ul{
    position: absolute;
    display: none;
}

header ul ul li{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    display: block;
    text-align: left;
    border-style: dotted;
    border-width: 1px;
    background: repeating-linear-gradient(-135deg, rgb(211, 12, 12), rgb(9, 9, 253) 20%, rgb(20, 1, 1) 50%);
    width: 50%;
}
header ul li a{
    color: rgb(255, 255, 255);
}
/* ----fin menu desplegable */

.dedicamos {
    /* border: 1px solid #000; */
    grid-area: dedicamos;
    background-color: rgba(245, 245, 220, 0.11);

}
.dedicamos h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(243, 237, 237, 0.815);
}
.dedicamos p{
    text-align: justify;
    background-color: #000;
    height: 80%;
    width: 90%;
    color: rgba(243, 237, 237, 0.815);
    text-indent: 20px;
    margin: 5px;
}
.noticias { 
    /* margin-top: 16px; */
    /* border: 1px solid #000; */
    width: 90%;
    margin-top: 1px;
    grid-area: noticias; 
    background-color: rgb(15, 15, 14);
    margin: 5px;
}
.noticias h2{
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 172, 158, 0.815);
}
.noticias ul{
    list-style-type: circle;
}
.noticias1{
    color: rgba(255, 172, 158, 0.815);
    margin: 5px;
    margin-left: 20px;

}
.noticias1:hover{
    color: rgb(57, 57, 211);
}
.ubicacion {
    width: 90%;
    margin-top: 1px;
    background-color: black;
    grid-area: ubicacion; 
}
.ubicacion h2{
    color: rgba(243, 237, 237, 0.815);
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    text-align: center;
}
.ubicacion1{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    height: 200px;
    width: 80%;
}


.jurisprudencia { 
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    margin-top: 10px;
    background-color: black;
    grid-area: jurisprudencia;

}
.jurisprudencia h2{
    color: rgba(243, 237, 237, 0.815);
    font-size: 30px;
    text-align: center;
    margin-left: 16px;
    width: 70%;
}
.item{
    height: 60px;
    width: 100px;
    background-color: rgb(233, 193, 83);
    border: 2px solid white;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-right: 35px;
}    
.cajas{
    text-align: center;
    align-items: center;
}

.ecoparque {
    margin-top: 1px;
    background-color: rgba(245, 245, 220, 0.11);
    grid-area: ecoparque; 
}
.ecoparque h2{
    color: rgba(243, 237, 237, 0.815);
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ecoparque h3{
    color: rgba(192, 23, 23, 0.815);
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px white;
}

.video{
    margin-left: 10%;
}
.problemas { 
    background-image: url(../imagenes/monaCecilia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;    
    grid-area: problemas; 
}
.problemas p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: rgba(243, 237, 237, 0.815);
    font-size: 150%;
    text-shadow: 1px 1px red;
}

.encuentro { 
    height: 220px;
    width: 90%;
    margin-top: 16px;
    background-color:black;
    grid-area: encuentro; 
}
.encuentro h2{
    color: rgba(243, 237, 237, 0.815);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.youtube{
    margin-left: 10%;
}

.contacto {
    height: 100px;
    margin-top: 40px;
    background: repeating-linear-gradient(-135deg, rgb(211, 12, 12), rgb(9, 9, 253) 20%, rgb(20, 1, 1) 50%);
    grid-area: contacto; 
}
.contactate{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.face{
    color: rgb(236, 211, 211);
    font-size: 30px;
    padding: 25px;
}

footer p{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    background-color: black;
    margin-bottom: 5px;
}
.subir{
    height: 50px;
    width: 50px;
    font-size: 17px;
    color: white;
    background-color: black;
    text-align: center;
    border: 2px solid white;
    position: fixed;
    right: 10%;
    bottom: 20px;
    border-radius: 50%;
}

/* resolución hasta 480 px */


/* -----resolucón a partir de los 480px------ */

@media only screen and (min-width: 480px){
    .derecho{
        font-size: 24px;
    }
    .dedicamos h3{
        font-size: 35px;
    }
    .dedicamos p{
        font-size: 20px;
        margin-right: 10%;
    }
    .noticias h2{
        font-size: 40px;
    }
    .ubicacion h2{
        font-size: 35px;
    }
    .jurisprudencia h2{
        font-size: 50px;
    }
    .ecoparque h2{
        font-size: 40px;
    }
    .ecoparque h3{
        font-size: 25px;
        margin: 0 15px 0 15px;
    }
    .problemas p{
        font-size: 30px;
    }
    .e
    .encuentro h2{
        font-size: 40px;
    }
    .contactate h4{
        font-size: 30px;
    }
}



/* -----resolucón a partir de los 768px------ */
@media only screen and (min-width: 768px){
    .container{
        grid-template-columns: 50% 50%;
        margin: 0;
    }
    .asociacion{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .derecho{
        font-size: 30px;
    }
    .dedicamos{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .noticias{
        grid-column: 1/2;
        grid-row: 3/5;
    }
    .ubicacion{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .ubicacion1{
        width: 45vw;
    }
    .jurisprudencia{
        grid-column: 1/2;
        grid-row: 5/7;
    }
    .jurisprudencia h2{
        font-size: 40px;
        margin-left: 35px;
    }
    .ecoparque{
        grid-column: 2/3;
        grid-row: 6/8;
    }
    .problemas{
        grid-column: 2/3;
        grid-row: 4/6;
    }
    .encuentro{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .contacto{
        grid-column: 1/3;
        grid-row: 8/9;
        height: 120px;
    }
    .contactate h4{
        font-size: 38px;

    }
}

/* -----resolucón a partir de los 1024px------ */
@media only screen and (min-width: 1024px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .asociacion{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .derecho{
        font-size: 35px;
        margin-top: 20px;
    }
    .dedicamos{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .noticias{
        grid-column: 1/2;
        grid-row: 4/6;
    }
    .ubicacion{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .ubicacion1{
        
        width: 20vw;
    }
    .jurisprudencia{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .jurisprudencia h2{
        font-size: 40px;
        margin-left: 35px;
    }
    .ecoparque{
        grid-column: 3/4;
        grid-row: 4/7;
    
        background: repeating-linear-gradient(-135deg, rgb(211, 12, 12), rgb(9, 9, 253) 20%, rgb(20, 1, 1) 50%);
        height: 550px;
    }
    .ecoparque h2{
        font-size: 25px;
    }
    .ecoparque h3{
        font-size: 20px;
    }
    .problemas{
        grid-column: 3/4;
        grid-row: 2/4;
        height: 100%;
        background-image: url(../imagenes/mona-cecilia.jpg);
    }
    .problemas p{
        font-size: 20px;
        text-align: center;
        margin-right: 120px;
        margin-top: 300px;
    }
    .encuentro{
        grid-column: 2/3;
        grid-row: 3/5;
    }
    .contacto{
        grid-column: 1/3;
        grid-row: 6/7;
        height: 120px;
    }
    .contactate h4{
        font-size: 38px;

    }
}